@model SportsStore.Domain.Product

<div class="well">
    <h3>
        <strong>@Model.Name</strong>
        <span class="pull-right label label-primary">@model.Product_Price.ToString("c")</span>
    </h3>
    <span class="lead">@model.Product_Description</span>
</div>